In [9]:
#Iimportando os pacotes
library(caret)
library(ggplot2)
library(gridExtra)
library(data.table)
library(car)
library(caTools)
library(corrplot)
library(rpart)
library(rpart.plot)

ERROR: Error in library(gridExtra): there is no package called 'gridExtra'

In [23]:
# Carregando a base de dados
dados_rh = read.csv("dataset.csv")

In [26]:
head(dados_rh)

  Age Attrition             BusinessTravel Department      DistanceFromHome
1 41  Voluntary Resignation Travel_Rarely  Sales           1
2 37  Voluntary Resignation Travel_Rarely  Human Resources 6
3 41  Voluntary Resignation Travel_Rarely  Sales           1
4 37  Voluntary Resignation Travel_Rarely  Human Resources 6
5 37  Voluntary Resignation Travel_Rarely  Human Resources 6
6 37  Voluntary Resignation Travel_Rarely  Human Resources 6
  Education EducationField  EnvironmentSatisfaction Gender JobInvolvement ...
1 2         Life Sciences   2                       Female 3              ...
2 4         Human Resources 1                       Female 3              ...
3 2         Life Sciences   2                       Female 3              ...
4 4         Marketing       1                       Female 3              ...
5 4         Human Resources 1                       Female 3              ...
6 4         Marketing       1                       Female 3              ...
  StockOptionLevel TotalWorkingYears TrainingTimesLastYear WorkLifeBalance
1 0                8                 0                     1
2 0                8                 0                     1
3 0                8                 0                     1
4 0                8                 0                     1
5 0                8                 0                     1
6 0                8                 0                     1
  YearsAtCompany YearsInCurrentRole YearsSinceLastPromotion
1 6              4                  0
2 6              4                  0
3 6              4                  0
4 6              4                  0
5 6              4                  0
6 6              4                  0
  YearsWithCurrManager Employee.Source AgeStartedWorking
1 5                    Referral        33
2 5                    Referral        29
3 5                    Referral        33
4 5                    Referral        29
5 5                    Referral        29
6 5                    Referral        29

In [27]:
# Contagem de registros
count(dados_rh)

  n
1 23058

In [28]:
# Resumo das vari√°veis do dataset
summary(dados_rh)

      Age                        Attrition               BusinessTravel
 Min.   :18.00   Current employee     :19370   Non-Travel       : 2344
 1st Qu.:30.00   Termination          :   87   Travel_Frequently: 4378
 Median :36.00   Voluntary Resignation: 3601   Travel_Rarely    :16336
 Mean   :37.04
 3rd Qu.:43.00
 Max.   :60.00

                  Department    DistanceFromHome   Education
 Human Resources       : 1010   Min.   : 1.000   Min.   :1.000
 Research & Development:15040   1st Qu.: 2.000   1st Qu.:2.000
 Sales                 : 7008   Median : 7.000   Median :3.000
                                Mean   : 9.215   Mean   :2.915
                                3rd Qu.:14.000   3rd Qu.:4.000
                                Max.   :29.000   Max.   :5.000

          EducationField EnvironmentSatisfaction    Gender      JobInvolvement
 Human Resources : 442   Min.   :1.00            Female: 9205   Min.   :1.00
 Life Sciences   :9513   1st Qu.:2.00            Male  :13853   1st Qu.:2.00
 Marketing       :2484   Median :3.00                           Median :3.00
 Medical         :7267   Mean   :2.72                           Mean   :2.73
 Other           :1291   3rd Qu.:4.00                           3rd Qu.:3.00
 Technical Degree:2061   Max.   :4.00                           Max.   :4.00

    JobLevel                          JobRole     JobSatisfaction
 Min.   :1.000   Sales Executive          :5067   Min.   :1.000
 1st Qu.:1.000   Research Scientist       :4591   1st Qu.:2.000
 Median :2.000   Laboratory Technician    :4112   Median :3.000
 Mean   :2.044   Manufacturing Director   :2346   Mean   :2.725
 3rd Qu.:3.000   Healthcare Representative:2069   3rd Qu.:4.000
 Max.   :5.000   Manager                  :1521   Max.   :4.000
                 (Other)                  :3352
  MaritalStatus   MonthlyIncome   NumCompaniesWorked OverTime
 Divorced: 5163   Min.   : 1009   Min.   :0.000      No :16524
 Married :10543   1st Qu.: 2900   1st Qu.:1.000      Yes: 6534
 Single  : 7352   Median : 4898   Median :2.000
                  Mean   : 6416   Mean   :2.691
                  3rd Qu.: 8120   3rd Qu.:4.000
                  Max.   :19999   Max.   :9.000

 PercentSalaryHike PerformanceRating RelationshipSatisfaction StockOptionLevel
 Min.   :11.00     Min.   :3.000     Min.   :1.000            Min.   :0.0000
 1st Qu.:12.00     1st Qu.:3.000     1st Qu.:2.000            1st Qu.:0.0000
 Median :14.00     Median :3.000     Median :3.000            Median :1.0000
 Mean   :15.22     Mean   :3.155     Mean   :2.713            Mean   :0.7944
 3rd Qu.:18.00     3rd Qu.:3.000     3rd Qu.:4.000            3rd Qu.:1.0000
 Max.   :25.00     Max.   :4.000     Max.   :4.000            Max.   :3.0000

 TotalWorkingYears TrainingTimesLastYear WorkLifeBalance YearsAtCompany
 Min.   : 0.00     Min.   :0.000         Min.   :1.000   Min.   : 0.00
 1st Qu.: 6.00     1st Qu.:2.000         1st Qu.:2.000   1st Qu.: 3.00
 Median :10.00     Median :3.000         Median :3.000   Median : 5.00
 Mean   :11.07     Mean   :2.804         Mean   :2.762   Mean   : 6.91
 3rd Qu.:15.00     3rd Qu.:3.000         3rd Qu.:3.000   3rd Qu.: 9.00
 Max.   :40.00     Max.   :6.000         Max.   :4.000   Max.   :40.00

 YearsInCurrentRole YearsSinceLastPromotion YearsWithCurrManager
 Min.   : 0.000     Min.   : 0.000          Min.   : 0.000
 1st Qu.: 2.000     1st Qu.: 0.000          1st Qu.: 2.000
 Median : 3.000     Median : 1.000          Median : 3.000
 Mean   : 4.201     Mean   : 2.164          Mean   : 4.091
 3rd Qu.: 7.000     3rd Qu.: 3.000          3rd Qu.: 7.000
 Max.   :18.000     Max.   :15.000          Max.   :17.000

        Employee.Source AgeStartedWorking
 Company Website:5327   Min.   : 0.00
 Seek           :3655   1st Qu.:20.00
 Indeed         :2471   Median :25.00
 Jora           :2408   Mean   :25.96
 LinkedIn       :2294   3rd Qu.:31.00
 Recruit.net    :2283   Max.   :60.00
 (Other)        :4620